<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name='Search' parallel="methods" thread-count="5">
    <test name='Search_tests'>
        <classes>
            <class name="LessonEleven"></class>
            <class name="LessonFive"></class>
        </classes>
    </test>
</suite>